services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lyftr-api
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - WEBHOOK_SECRET=${WEBHOOK_SECRET}
    volumes:
      - sqlite_data:/data
    restart: unless-stopped

volumes:
  sqlite_data:
